.link {
  color: blue;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline; /* Estilo ao passar o mouse */
}

.link:active {
  color: red; /* Cor para quando o link está sendo clicado */
}
